{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <img class="login-img" src="{{ asset('build/images/sign_in_background_laptop.jpg') }}" alt="Laptop signIn Background">
        
        <div class="form">
            {{ form_start(form) }}

            <h1>Create an account</h1>
            
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}

            <button type="submit" class="btn">Create account</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
